// This is where your styles can go, import any other scss or css files here or write your own style directly below

body,
body * {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0px;
  background-image: url("../images/16158f24fc89086a9232df1f3d5eb8ef.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: white;
  margin-top: 0;
  z-index: -10;






  main {
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;



    .nav-bar {
      color: white;
      padding: 10px;
      font-size: xx-large;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      position: fixed;
      margin-top: 0;

      i {
        cursor: pointer;
        padding: 5px;
        color: rgb(255, 255, 255);
      }

      a:visited,
      :active,
      :hover,
      :link {
        color: white;
      }
    }

    .shopping-list {
      margin-top: 50px;
      position: fixed;
      top: 0;
      right: 20px;
      visibility: hidden;
      background-color: #fff;
      color: rgb(36, 36, 36);
      text-align: left;
      padding: 10px;
      border-radius: 5px;
      max-height: 80vh;
      overflow: scroll;


    }

    .shopping-list1 {

      visibility: visible;
    }

    .load-page {
      font-size: x-large;
      width: 80vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .form__search {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: center;
      height: 30px;


      #select {
        background-color: rgb(216, 216, 216);
        border: none;
        color: rgb(51, 51, 51);
        border-radius: 2px;
        margin: 1px;
        font-size: large;
      }

      #search {
        background-color: rgb(216, 216, 216);
        border: none;
        color: #fff;
        border-radius: 2px;
        margin: 1px;
        font-size: large;
      }

      #submit {
        margin-left: 2px;
        background-color: rgb(73, 73, 73);
        border: none;
        border-radius: 2px;
        margin: 1px;
        font-size: large;
      }
    }

    #random {
      border-radius: 2px;
      margin: 1px;
      font-size: large;
      height: 30px;
      width: 100%;
      background-color: rgb(248, 106, 54);
      border: none;

    }

    .sss {
      padding: 5%;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-start;
      background-color: rgba(0, 0, 0, .7);

      .card {
        color: white;
        margin: 5px;
        padding: 5px;
        background-color: grey;
        border-radius: 5px;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-grow: 1;
        max-width: 700px;

        &:hover {
          background-color: rgba(0, 0, 0, .5);
        }

        .img {


          img {
            width: 100%;
            display: block;
          }
        }

        .Ingredients {
          button {
            margin-top: 1rem;
            display: block;
          }
        }

        .details {
          position: relative;

          .details__span {
            text-decoration: underline;
            font-size: 1.3rem;


            i {
              transition: ease-in .2s;

            }


          }

          .instructions {
            height: 0;
            visibility: hidden;

            bottom: 0;
            color: blue;
            transition: ease-in .2s;

          }

          .instructions2 {
            height: 100%;
            visibility: visible;
            position: relative;
            transition: ease-in .2s;
            top: 0;




          }
        }
      }
    }
  }



  .rotate {

    transform: rotate(180deg);
  }
}

.go-to-drink {
  cursor: pointer;
  color: rgb(248, 106, 54);
}